:root {
  --semi-light-color: #f8f4e1;
  --light-color: #af8f6f;
  --dark-color: #74512d;
  --extra-dark-color: #543310;
  --white-color: white;
  --error-color: #cc0000;
  --padding-20: 20px;
  --margin-10: 10px;
  --main-transition : 0.3s ;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Mukta", sans-serif;
  font-style: normal;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin:0;
  padding:0;
}
::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--dark-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--extra-dark-color);
}
::-moz-scrollbar {
    width:10px;
}
::-moz-scrollbar-track {
    background-color: white;
}
::-moz-scrollbar-thumb {
    background-color: var(--dark-color);
}
::-moz-scrollbar-thumb:hover {
    background-color: var(--extra-dark-color);
}
.circled-img {
  width: 50px;
  border-radius: 50%;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* meduim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start nav section */
nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  position: relative;
  z-index: 2002;
}
nav .section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .section-1 label {
  position: relative;
}
nav .section-1 input {
  margin-left: 10px;
  border-radius: 40px;
  width: 300px;
  height: 50px;
  border: 1px solid var(--dark-color);
  box-shadow: var(--dark-color) 0px 1px 10px -4px;
  transition: var(--main-transition);
}
nav .section-1 input:focus {
  box-shadow: var(--dark-color) 2px 1px 13px 2px;
  outline: none;
}
nav .section-1 button {
  border: none;
  background-color: transparent;
  color: var(--dark-color);
  font-size: 1.2em;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: -4px;
}

/* end nav section */

/* start aside bar  */
.page-links {
  padding-top: 20px;
  width: 200px;
  height: calc(100vh - 100px);
  background-color: white;
  position: relative;
  z-index: 1000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.page-links li {
  padding: 10px;
  padding-left: 20px;
  transition: var(--main-transition);
  position: relative;
  z-index: 1002;
}

.page-links li:before {
  content: " ";
  width: 0;
  height: 0;
  background-color: var(--semi-light-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  transition: var(--main-transition);
}
.page-links li:hover {
  padding-left: 30px;
}
.page-links li:hover:before {
  width: 100%;
  height: 100%;
}
.page-links li i {
  margin-right: 5px;
}
.page-links li a {
  color: var(--dark-color);
  position: relative;
  z-index: 1002;
}
@media (max-width: 769px) {
  .page-links {
    width: 60px
  }
  .page-links li i {
    margin: 0;
  }
  .page-links li a span {
    display: none;
  }
}
/* end aside bar  */